@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
.holdContent{
    height: 500px;
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex: 1;
}

.holdViewsCounter{
    border: 3px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.holdInputButton{
    border: 3px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.holdBlockGood{
    background-color: green;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
}
.holdBlockLow{
    background-color: orange;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
}
.holdBlockHigher{
    background-color: yellow;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
}