<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Great Number Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./../../static/styles.css')}}">
    </head>
    <body>
        <main class="holdContent">
            <div class="holdViewsCounter">
                <h2>
                    Welcome to the Great Number Game!
                </h2>
                <h4>
                    I am thinking of a number between 1 and 100
                </h4>
                <h4>
                    Take a guess!
                </h4>
            </div>
            <form class="holdInputButton" action="/guess" method="POST">
                <input type="text" placeholder="Yor guess goes here!" id="userGuesser" name="userGuesser">
                <button class="submit" type="submit">
                    Submit
                </button>
            </form>
            <div>
                {% if 'guess' in session: %}
                    {% if session['userGuess1'] == randomNum: %}
                        <div>
                            <h2>You got the number!</h2>
                            <a href="/reset" class="pAgain">Play Again</a>
                        </div>
                    {% endif %}
                    {% if session['userGuess1'] < randomNum: %}
                        <div>
                            <h2>Too Low!</h2>
                        </div>
                    {% endif %}
                    {% if session['userGuess1'] > randomNum: %}
                        <div>
                            <h2>Too High!</h2>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </main>
    </body>
</html>