<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Great Number Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./../../static/styles.css')}}">
    </head>
    <body>
        <main class="holdContent">
            <div class="holdViewsCounter">
                <h2>
                    Welcome to the Great Number Game!
                </h2>
                <h4>
                    I am thinking of a number between 1 and 100
                </h4>
                <h4>
                    Take a guess!
                </h4>
            </div>
            {% for i in range (1, 1, 1): %}
                <div class="holdBlock">
            {% endfor %}
            </div>
            <form class="holdInputButton" action="/authentication" method="POST">
                <input type="text" placeholder="Yor guess goes here!">
                <button class="submit">
                    Submit
                </button>
            </form>
        </main>
    </body>
</html>